<div class="container m-top-72 m-bot-72">
  <div class="components-title">Specifications.</div>

  <div class="col">
    <table class="table m-top-12">
      <tbody>
        <tr>
          <th class="spec-title spec-padding">Dimensions</th>
          <td class="spec-info spec-padding">
            76.8 x 43.8 x 34.7 mm (earbuds and charging case)
          </td>
        </tr>

        <tr>
          <th class="spec-title spec-padding">USB Standard</th>
          <td class="spec-info spec-padding">USB-C</td>
        </tr>

        <tr>
          <th class="spec-title spec-padding">Power supply</th>
          <td class="spec-info spec-padding">Sennheiser 7mm dynamic driver</td>
        </tr>
        <tr>
          <th class="spec-title spec-padding">
            Frequency response (Microphone)
          </th>
          <td class="spec-info spec-padding">100 Hz to 10 kHz</td>
        </tr>
        <tr>
          <th class="spec-title spec-padding">Frequency response</th>
          <td class="spec-info spec-padding">5 - 21,000 Hz</td>
        </tr>
        <tr>
          <th class="spec-title spec-padding">Noise cancellation</th>
          <td class="spec-info spec-padding">Single-Mic ANC per earbud side</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
