<div class="container margin-top-container">
  <div class="col">
    <div class="large-img-container text-center">
      <img class="size-img-l" src="assets/img/img0l.png" alt="" />
    </div>

    <div class="row m-top-16">
      <div class="miniature-container"></div>

      <a class="small-img-container" onclick="changeImg()">
        <img class="size-img-s" src="assets/img/img0s.png" alt="" />
      </a>
      <a class="small-img-container">
        <img class="size-img-s" src="assets/img/img0s.png" alt="" />
      </a>
      <a class="small-img-container">
        <img class="size-img-s" src="assets/img/img0s.png" alt="" />
      </a>
    </div>

    <div class="container m-top-74">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <img class="size-icons" src="assets/icons/soundwave.svg" alt="" />
          </div>
          <div class="icons-text">Customizable Touch Controls</div>
        </div>
        <div class="col">
          <div class="text-center">
            <img
              class="size-icons"
              src="assets/icons/studio_monitoring.svg"
              alt=""
            />
          </div>
          <div class="icons-text">Built-in Equalizer</div>
        </div>
        <div class="col">
          <div class="text-center">
            <img
              class="size-icons"
              src="assets/icons/noise_cancellation.svg"
              alt=""
            />
          </div>
          <div class="icons-text">Active Noise Cancellation</div>
        </div>
      </div>
    </div>
  </div>
</div>
