.choice-container {
  display: grid;
  grid-gap: 17px;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
}

.pad-24-title {
  padding: 20px 0 0 10px;
}
.pad-24-info {
  padding: 0 10px 20px 10px;
  margin-top: 8px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#t0 {
  display: none;
}
#t1 {
  display: none;
}

label:hover {
  border: 2px solid #b6bcc6;
}

label {
  border: solid 2px #eeeff2;
  border-radius: 8px;
}
