<div class="container footer-container">
  <div class="row row-footer footer-pad">
    <div class="col small-left-info-container">
      <div class="footer-title">Free Shipping</div>
      <div class="footer-info">
        Get 2-day free shipping anywhere in North America.
      </div>
    </div>
    <div class="col small-left-info-container">
      <div class="footer-title">2 years warranty</div>
      <div class="footer-info">
        If anything goes wrong in the first two years, we'll replace it for
        free.
      </div>
    </div>
    <div class="col-4">
      <div class="footer-price-info">$295.95</div>
      <div class="footer-info">Need financing? Learn more</div>
    </div>
    <div class="col-1">
      <div>
        <button class="buynow-btn">Buy now</button>
      </div>
    </div>
  </div>
</div>
