<div class="container m-top-72">
  <div class="components-title">
    Would you like to add extended warranty coverage?.
  </div>

  <div class="row small-inf-container m-top-12">
    <div class="cards-title pad-24-title">2 years coverage</div>
    <div class="cards-info pad-24-info">
      For the past 75 years, Sennheiser has put sound first.
    </div>
  </div>
  <div class="row small-inf-container m-top-16" (click)="sendWarrantyMsg()">
    <div class="col-9">
      <div class="cards-title pad-20-title">3 years coverage</div>
      <div class="cards-info pad-20-info">
        For the past 75 years, Sennheiser has put sound first.
      </div>
    </div>
    <div class="col-3">
      <div class="cards-title pad-price">+ $75</div>
    </div>
  </div>
</div>
