<div class="container m-top-72">
  <div class="components-title">
    Would you like to add extended warranty coverage?.
  </div>

  <input type="checkbox" id="w0" checked="checked" />
  <label class="m-top-12" id="thumb0" for="w0" (click)="carousel(0)" #thumb0>
    <div class="row">
      <div class="cards-title pad-24-title">2 years coverage</div>
      <div class="cards-info pad-24-info">
        For the past 75 years, Sennheiser has put sound first.
      </div>
    </div>
  </label>

  <input type="checkbox" id="w1" />
  <label class="m-top-16" id="thumb1" for="w1" (click)="carousel(1)" #thumb1>
    <div class="row">
      <div class="col-9">
        <div class="cards-title pad-20-title">3 years coverage</div>
        <div class="cards-info pad-20-info">
          For the past 75 years, Sennheiser has put sound first.
        </div>
      </div>
      <div class="col-3">
        <div class="cards-title pad-price">+ $75</div>
      </div>
    </div>
  </label>
</div>
