.pad-24-title {
  padding: 18px 0 0 20px;
}
.pad-20-info {
  padding: 10px 0 0 6px;
  margin-top: 8px;
}

.pad-price {
  padding: 10px 0 10px 74px;
  margin-top: 8px;
}

#w0 {
  display: none;
}
#w1 {
  display: none;
}

label:hover {
  border: 2px solid #b6bcc6;
}

label {
  height: 68px;
  border: solid 2px #eeeff2;
  border-radius: 8px;
  max-width: 100%;
  min-width: 100%;
}
