/* @media (min-width: 1400px) {
  .sen-container-margins {
    margin-left: 61px;
    margin-right: 61px;
  }
}

.screen-container {
  margin: 0 auto;
  max-width: 1218px;
  width: 100%;
  max-height: 1701px;
  height: 100%;
} */
