<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>

  <div class="row">
    <div class="col-6 ont-left">
      <app-carousel></app-carousel>
    </div>
    <div class="col-6 cont-right">
      <app-info></app-info>
      <app-choice></app-choice>
      <app-warranty (msgfromWarranty)="msgforFooter($event)"></app-warranty>
      <app-features (msgfromFeatures)="msgforFooterTwo($event)"></app-features>
      <app-specifications></app-specifications>
      <app-empty></app-empty>
    </div>
  </div>

  <div footer class="fixed-bottom">
    <app-footer [msgFooter]="sendFooter" [msgFooter2]="sendFooter2">
    </app-footer>
  </div>
</div>
